<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/main.css">
  <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div id="superLottoRun" v-cloak>
      <div class="container">
        <h1>威力彩隨機號碼產生</h1>
        <p>產生多組威力彩號碼，篩選出現最多次號碼。</p>
        產生組數<input type="text" name="count" v-model="count">
        <button type="button" v-on:click="startSupperLotto()" v-bind:disabled="isLoading">Start</button>
        <div id="result">
          <ul class="lottoNumbers">
            <li class="lottoNumbers__item" v-for="(item,index) in results">
              <span v-for="(item) in item.area_a">{{item.number}}</span>
              <span v-for="(item) in item.area_b">{{item.number}}</span>
            </li>
            <li class="lottoNumbers__item" v-if="isLoading">
              <span v-for="(item) in loadResult.area_a">{{item}}</span>
              <span v-for="(item) in loadResult.area_b">{{item}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./js/supperLotto.js"></script>
</body>
</html>