<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="./css/main.css">
  <title>威力彩隨機號碼產生</title>
</head>
<body>
  <div class="wrapper">
    <div id="superLottoRun" v-cloak>
      <div class="container">
        <h1 class="pageTitle">威力彩隨機號碼產生</h1>
        <p class="pageContent">產生多組威力彩號碼作為統計依據，再統計出現最多次的前六個號碼以及特別號。</p>
        <div class="keyBoard">
          <div class="form-item">
            <label>
              <div class="labelTitle">參照組數</div>
              <input type="tel" name="count" v-model="count" placeholder="請輸入參照組數">
            </label>
          </div>
          <button type="button" class="btn" v-on:click="startSupperLotto()" v-bind:disabled="isLoading">開始篩選</button>
        </div>
        <div id="result">
          <ul class="lottoNumbers">
            <li class="lottoNumbers__item" v-for="(item,index) in results">
              <span v-for="(item) in item.area_a">{{item.number}}</span>
              <span v-for="(item) in item.area_b">{{item.number}}</span>
            </li>
            <li class="lottoNumbers__item" v-if="isLoading">
              <span v-for="(item) in loadResult.area_a">{{item}}</span>
              <span v-for="(item) in loadResult.area_b">{{item}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./js/supperLotto.js"></script>
</body>
</html>